pkgbase = potato-redux
	pkgdesc = A pomodoro timer for the shell with new features and quality-of-life changes.
	pkgver = 7
	pkgrel = 1
	url = https://github.com/Enchoseon/potato-redux
	arch = any
	license = MIT
	depends = alsa-utils
	optdepends = sox: Brown noise support
	optdepends = libnotify: Toast notification support
	optdepends = python: Do Not Disturb support
	optdepends = dbus-python: Do Not Disturb support
	conflicts = potato
	source = potato.sh
	source = doNotDisturb.py
	source = notification.wav
	source = LICENSE
	md5sums = 431a61b59f752371db9896324805ba39
	md5sums = 6a1f93699a0e933812b732cfdd26c3e9
	md5sums = b01bacb54937c9bdd831f4d4ffd2e31c
	md5sums = 1ddcbd2862764b43d75fb1e484bf8912

pkgname = potato-redux
