pkgbase = potato-redux
	pkgdesc = A pomodoro timer for the shell with new features and quality-of-life changes.
	pkgver = 7
	pkgrel = 1
	url = https://github.com/Enchoseon/potato-redux
	arch = any
	license = MIT
	depends = alsa-utils
	depends = util-linux
	optdepends = sox: Brown noise support
	optdepends = libnotify: Toast notification support
	optdepends = python: Do Not Disturb support
	optdepends = dbus-python: Do Not Disturb support,
	optdepends = kdeconnect: Smartphone notification support
	conflicts = potato
	source = potato.sh
	source = doNotDisturb.py
	source = notification.wav
	source = LICENSE
	md5sums = 62f7bc658ceed3d99dd521ae8b1dea03
	md5sums = 39a87a4f9151e0b7328204aaba33d7ec
	md5sums = 8ec2e9a6856be1d9eced3e5263aead09
	md5sums = 1ddcbd2862764b43d75fb1e484bf8912

pkgname = potato-redux
