pkgbase = potato
	pkgdesc = A pomodoro timer for the shell. This fork sends toasts and enables Do Not Disturb.
	pkgver = 7
	pkgrel = 1
	url = https://github.com/Enchoseon/potato
	arch = any
	license = MIT
	depends = alsa-utils
	depends = libnotify
	depends = python
	depends = dbus-python
	source = potato.sh
	source = doNotDisturb.py
	source = notification.wav
	source = LICENSE
	md5sums = a7b78d3d773a50e6160b26ab0efadddc
	md5sums = 6a1f93699a0e933812b732cfdd26c3e9
	md5sums = b01bacb54937c9bdd831f4d4ffd2e31c
	md5sums = 1ddcbd2862764b43d75fb1e484bf8912

pkgname = potato
